body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    background-color: rgb(205, 183, 226);

}

header {
    height: 50px;
    width: 100%;
    top: 0%;
    background-color: rgb(133, 53, 207);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-family: impact;
    position: fixed;

}

div {
    text-align: center;
    font-size: 20px;
    color: white;

}

.Contato {padding: 100px;}

footer {
    height: 60px;
    width: 100%;
    background-color: rgb(149, 100, 192);
    position: fixed;
    bottom: 0%;
}

.footer-itens{
    display: flex;
    justify-content: space-between;

}

.Sobre-Mim {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}

#minhaFoto {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

#Texto-Sobre-Mim {
    background-color: rgb(194, 167, 219);
    border-radius: 50px;
    width: 600px;
}

.itens {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    width: 200px;
    height: 300px;
    border: 3px solid black;
}

.item-img {
    width: 70%;
}
.img-instagram{
    height: 40px;
}