:root {
    --corPrimaria: #2B2D42;
    --corSecundaria: #8D99AE;
    --corTerciaria: #EDF2F4;

}

* {
    margin: 0;

}

body {
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

h1 {
    margin: 20px 0px;

}

p {
    font-size: 4em;
    border: 5px solid var(--corTerciaria);
    padding: 10px;
    margin: 20px 0px;
    box-shadow: 0px 0px 5px 5px var(--corSecundaria);
    border-radius: 100px;
}

button {

    
    width: 100px;
    height: 40px;
border-radius: 10px;
cursor: pointer;

}